/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    color: white !important;
    
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 20px;
    font-weight: light;
}
h4 {
    color: gray;
    font-weight: lighter;
}
p {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: white;
}

/* utility classes */
.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 20px;
}

ul {
    list-style: none;
}

.hover-link {
    background-color: #E50914;
    border: none;
}
.hover-link:hover {
    background-color: #a9070f;
    transition: 0.2s ease-out;
}
/* styling */

/* hero section */


.hero-sec {
    height: 90vh;
    background:linear-gradient(to top, rgba(0, 0, 0, 1.0) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url('./assets/netflix-bg.jpeg');
}
.hero-container {
    justify-content: space-between;
}

/* nav bar */
.company-img img{
    width: 200px;
}

.nav-links {
    justify-content: space-between;
    gap: 20px;
}

.select-drop {
    
    height: 32px;
    align-items: center;
    gap: 5px;
}

.select-opt {
    background-color: rgb(50, 47, 47);
    opacity: 0.7;
    outline: none;
    border: none;
    color: white;
}
.select-opt:active {
    outline: white;
}
.btn {
    background-color: #E50914;
    border-radius: 6px;
    width: 85px;
    height: 37px;
    font-size: 14px;
}

/* hero container */

.hero-content {
    flex-direction: column;
    margin-block:15vw;
    gap: 30px;
}
.registration {
    gap: 20px;
    margin-inline: 20vw;
    padding: 10px;
}
.btn-2 {
    background-color: #E50914;
    border-radius: 6px;
    width: 16vw;
    height: 7vh;
    font-size: 24px;
    text-align: center;
}
input[type="email"]
{
    background-color: rgb(50, 47, 47);
    opacity: 0.9;
    outline: none;
    border: 0.1px solid gray;
    color: white;
    width: 30vw;
    font-weight: 700;
    height: 7vh;
    padding-left: 10px;
}
hr {
    width: 100vw;
    height: 1vw;
    color: darkgray;
    background-color: #453333;
    border: none;
}

/* feature section 1 */
.feature-sec {
    background-color: black;
    padding-block: 30px;
}
.feature-container {
    justify-content: center;
}
.feature-text {
    flex-direction: column;
    gap: 20px;
}


/* feature section  2 */
.feature-img2 {
    gap: 10px;
    width: 20vw;
    border: rgb(131, 124, 124);
    border-radius: 3px;
    background-color: black;
    margin: auto;
}
.feature-img2 img {
    width: 5vw;
}
.download {
    flex-direction: column;
    align-items: flex-start;
}

.faq-sec {
    background-color: black;
    padding-block: 30px;
    text-align: center;
}
.faq-container {
    padding-block: 30px;
}

.question-card {
    margin-top: 20px;
    width: 80vw;
    height: 7vh;
    background-color: #322F2F;
    padding:20px;
    justify-content: space-between;
}

.question-card a {
    font-size: 24px;
}
.faq-container p {
    margin-top: 20px;
}


/* footer */
footer {
    background-color: black;
    padding-block: 50px;
    height: 50vh;
}

.footer-content {
    background-color: black;
    color: gray;
    padding-bottom: 40px;
}

.footer-content a {
    text-decoration: underline gray;
}

.link-wrapper{
    justify-content: space-between;
    padding-block: 20px;
}

.link-wrapper ul li {
    margin-block: 20px;
    color: gray;
}